<a href="https://www.kaggle.com/code/sagorkumarmitra/simpler-form-of-a-movie-recommendation-algorithm?scriptVersionId=145855994" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

# Dataset-01

In [2]:
column_names=['user_id','item_id','rating','timestamp']
df=pd.read_csv('/kaggle/input/movielens-100k-dataset/ml-100k/u.data',sep='\t',names=column_names)

In [3]:
df.head(5)

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [4]:
len(df)

100000

# Dataset-02

In [5]:
columns_names=['item_id','title','date', "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16", "A17", "A18", "A19", "A20", "A21"]

movies = pd.read_csv('/kaggle/input/movielens-100k-dataset/ml-100k/u.item', sep='|', encoding='latin-1', names=columns_names)
movies.head(2)

,item_id,title,date,A1,A2,A3,A4,A5,A6,A7,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
movies=movies.iloc[:,0:2]
movies.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [7]:
movies.shape

(1682, 2)

# Data Preprocessing & Exploration

In [8]:
df=pd.merge(df,movies,on='item_id')
df.head()

   user_id  item_id  rating  timestamp         title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [9]:
df.drop(["timestamp"],axis=1,inplace=True)
df.head()

   user_id  item_id  rating         title
0      196      242       3  Kolya (1996)
1       63      242       3  Kolya (1996)
2      226      242       5  Kolya (1996)
3      154      242       3  Kolya (1996)
4      306      242       5  Kolya (1996)

In [10]:
moviemat=df.pivot_table(index='user_id', columns='title',
                       values='rating')
moviemat.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [11]:
type(moviemat)

pandas.core.frame.DataFrame

To offer users with recommendations for films similar to Starwars
We will use the Item - Item recommodition method, selecting and recommending similar films (those with similar ratings).

We will make a collaborative recommodition using the ratings given by the users.

We will recommend the most liked (leader) film to everyone.

In [12]:
# Let's look at the user ratings of the film Star Wars (1977):

starwars_user_ratings = moviemat['Star Wars (1977)']
starwars_user_ratings.head()

user_id
1    5.0
2    5.0
3    NaN
4    5.0
5    4.0
Name: Star Wars (1977), dtype: float64

corrwith()
Let's calculate the correlation of all films with the Star Wars film using the corrwith() method:

In [13]:
similar_to_starwars = moviemat.corrwith(starwars_user_ratings)
similar_to_starwars

/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:2845: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:2704: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

In [14]:
similar_to_starwars

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

The list we've got is a Pandas series. If we convert it to df, we can work more easily.

In [15]:
corr_starwars = pd.DataFrame(similar_to_starwars, columns=['Correlation'])
corr_starwars.dropna(inplace=True)
corr_starwars.head()

                           Correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

In [16]:
corr_starwars.sort_values('Correlation', ascending=False).head(10)

                                                    Correlation
title
Commandments (1997)                                         1.0
Cosi (1996)                                                 1.0
No Escape (1994)                                            1.0
Stripes (1981)                                              1.0
Man of the Year (1995)                                      1.0
Hollow Reed (1996)                                          1.0
Beans of Egypt, Maine, The (1994)                           1.0
Good Man in Africa, A (1994)                                1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0

# Average (mean value) rating

In [17]:
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
ratings

                                         rating
title
'Til There Was You (1997)              2.333333
1-900 (1994)                           2.600000
101 Dalmatians (1996)                  2.908257
12 Angry Men (1957)                    4.344000
187 (1997)                             3.024390
...                                         ...
Young Guns II (1990)                   2.772727
Young Poisoner's Handbook, The (1995)  3.341463
Zeus and Roxanne (1997)                2.166667
unknown                                3.444444
Á köldum klaka (Cold Fever) (1994)     3.000000

[1664 rows x 1 columns]

In [18]:
ratings.sort_values('rating', ascending=False).head(20)

                                                      rating
title
They Made Me a Criminal (1939)                      5.000000
Marlene Dietrich: Shadow and Light (1996)           5.000000
Saint of Fort Washington, The (1993)                5.000000
Someone Else's America (1995)                       5.000000
Star Kid (1997)                                     5.000000
Great Day in Harlem, A (1994)                       5.000000
Aiqing wansui (1994)                                5.000000
Santa with Muscles (1996)                           5.000000
Prefontaine (1997)                                  5.000000
Entertaining Angels: The Dorothy Day Story (1996)   5.000000
Pather Panchali (1955)                              4.625000
Some Mother's Son (1996)                            4.500000
Maya Lin: A Strong Clear Vision (1994)              4.500000
Anna (1996)                                         4.500000
Everest (1998)                                      4.500000
Close Shave, A (1995)                               4.491071
Schindler's List (1993)                             4.466443
Wrong Trousers, The (1993)                          4.466102
Casablanca (1942)                                   4.456790
Wallace & Gromit: The Best of Aardman Animation...  4.447761

# Number of votes

In [19]:
ratings['rating_vote_number'] = pd.DataFrame(df.groupby('title')['rating'].count())
ratings.head()

                             rating  rating_vote_number
title
'Til There Was You (1997)  2.333333                   9
1-900 (1994)               2.600000                   5
101 Dalmatians (1996)      2.908257                 109
12 Angry Men (1957)        4.344000                 125
187 (1997)                 3.024390                  41

# Most voted films

In [20]:
ratings.sort_values('rating_vote_number',ascending=False).head()

                             rating  rating_vote_number
title
Star Wars (1977)           4.358491                 583
Contact (1997)             3.803536                 509
Fargo (1996)               4.155512                 508
Return of the Jedi (1983)  4.007890                 507
Liar Liar (1997)           3.156701                 485

In [21]:
corr_starwars.sort_values('Correlation', ascending=False).head(10)

                                                    Correlation
title
Commandments (1997)                                         1.0
Cosi (1996)                                                 1.0
No Escape (1994)                                            1.0
Stripes (1981)                                              1.0
Man of the Year (1995)                                      1.0
Hollow Reed (1996)                                          1.0
Beans of Egypt, Maine, The (1994)                           1.0
Good Man in Africa, A (1994)                                1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0

In [22]:
corr_starwars = corr_starwars.join(ratings['rating_vote_number'])
corr_starwars.head()

                           Correlation  rating_vote_number
title
'Til There Was You (1997)     0.872872                   9
1-900 (1994)                 -0.645497                   5
101 Dalmatians (1996)         0.211132                 109
12 Angry Men (1957)           0.184289                 125
187 (1997)                    0.027398                  41

# Final

In [23]:
final = corr_starwars[corr_starwars['rating_vote_number']>100].sort_values('Correlation',ascending=False).head()
final

,Correlation,rating_vote_number
title,,
Star Wars (1977),1.000000,583
"Empire Strikes Back, The (1980)",0.747981,367
Return of the Jedi (1983),0.672556,507
Raiders of the Lost Ark (1981),0.536117,420
Austin Powers: International Man of Mystery (1997),0.377433,130

In [24]:
print("Final Recommodition: You can also watch the ************", final.index[1], "****************")

Final Recommodition: You can also watch the ************ Empire Strikes Back, The (1980) ****************